body
{
    background-color: rgba(0, 0, 0, 0);
}

#window
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    
    border-radius: 0px;
    border-width: 0px;
}

#window .panel-body
{
    padding: 0px;
}

#window > .panel-body > .list-group > li
{
    border-width: 0px;
    margin: 0px;
}

/*
    Window
*/

#control-panel
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-bottom-width: 1px !important;
    background-color: #f5f5f5;
    width: 100%;
    
    overflow: hidden;
}

#playback-control
{
    position: absolute;
    
    text-align: center;
    width: 100%;
    left: 0px;
}

#application-control
{
    width: auto;
    float: right;
}

/*
    Volume Panel
*/

#volume-panel
{
    padding: 10px 15px;

    position: fixed;
    top: 44px;
    right: 48px;
    
    display: none;
}

#volume-panel *
{
    margin: 0px;
}

#volume-panel .progress
{
    width: 220px;
    float: left;
}

#volume-percentage
{
    float: right;
    width: 50px;
    padding-left: 15px;
    text-align: right;
}

/*
    Middle Panel
*/

#middle-panel
{
    padding: 0px 0px;
}

/*
    Playlist Panel
*/

#playlist-panel
{
    float: left;
    width: 25%;
    height: 100%;
    min-width: 160px;
    max-width: 240px;
    
    overflow-y: auto;
    
    border-right: 1px solid #ddd;
}

/*
    Tracklist Panel
*/

#tracklist-panel
{
    height: 100%;

    overflow-y: auto;

    padding: 0px 0px;
}

#tracklist-panel .tracklist-entry
{
    -webkit-user-select: none;
    
    border-left-width: 0px;
    border-right-width: 0px;
    
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#tracklist-panel .tracklist-entry:first-child
{
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#tracklist-panel .tracklist-entry:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tracklist-panel .tracklist-entry.active
{
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;

    padding-top: 10px;
    padding-bottom: 10px;
}

#tracklist-panel .tracklist-entry div
{
    -webkit-user-select: auto;
    
    display: inline-block;
    width: auto;
}

/*
    Playback Panel
*/

#playback-panel
{
    border-top-width: 1px !important; 

    position: absolute;
    width: 100%;
    bottom: 0px;
}

#playback-info
{
    overflow: hidden;
}

#playback-info *
{
    display: inline-block;
}

#playback-time
{
    width: auto;
    float: right;
}

#playback-progress
{
    margin-bottom: 5px;
}

/*
    Utility
*/

.no-transition
{
    transition: none; !important;
}
