body
{
    background-color: rgba(0, 0, 0, 0);
}

#window
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:0px;
}

/*
    Window Title
*/

#window .panel-heading
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#window-title
{
    float: left;
    padding-right: 20px;
}

#window-title .panel-title
{
    font-weight: bold;
    
    position: relative;
    top: 5px;
}

#window-control
{
    float: right;
    padding-left: 20px;
}

#playback-control
{
    text-align: center;
}

#playback-control *
{
}

/*
    Playback Panel
*/

#playback-panel
{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#playback-info
{
    overflow: hidden;
}

#playback-info *
{
    display: inline-block;
}

#playback-time
{
    width: auto;
    float: right;
}

#playback-progress .progress
{
    margin-bottom: 5px;
}
