body
{
    background-color: rgba(0, 0, 0, 0);
}

#window
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:0px;
}

#window .panel-heading
{
    -webkit-app-region: drag;
}

#window .panel-heading button
{
    -webkit-app-region: no-drag;
}

/*
    Window Title
*/

#window .panel-heading
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#window-title
{
    float: left;
    padding-right: 20px;
}

#window-title .panel-title
{
    font-weight: bold;
    
    position: relative;
    top: 5px;
}

#application-control
{
    float: right;
    padding-left: 20px;
}

#playback-control
{
    text-align: center;
    width: 85%;
}

#playback-control *
{
}

/*
    Volume Panel
*/

#volume-panel
{
    padding: 10px 15px;

    position: fixed;
    top: 44px;
    right: 82px;
    
    display: none;
}

#volume-panel *
{
    margin: 0px;
}

#volume-panel .progress
{
    width: 220px;
    float: left;
}

#volume-panel p
{
    float: right;
    padding-left: 15px;
}

/*
    Playback Panel
*/

#playback-panel
{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#playback-info
{
    overflow: hidden;
}

#playback-info *
{
    display: inline-block;
}

#playback-time
{
    width: auto;
    float: right;
}

#playback-progress .progress
{
    margin-bottom: 5px;
}

/*
    Utility
*/

.no-transition
{
    transition: none; !important;
}
