body
{
    background-color: rgba(0, 0, 0, 0);
}

#window
{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:0px;
}

#window .panel-title
{
    font-weight: bold;
    
    position: relative;
    top: 4px;
}

#window #playback
{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
