#playback-panel
{
    display: table-row; 

    width: 100%;
}

#playback-panel .content
{
    padding: 8px 12px;
    
    border-top: 1px solid #ddd;
}

#playback-info *
{
    display: inline-block;
}

#playback-time
{
    float: right;
}

#playback-progress
{
    margin-bottom: 4px;
}
