#playlist-panel
{
    float: left;
    width: 25%;
    height: 100%;
    min-width: 160px;
    max-width: 240px;
    
    overflow-y: auto;
    
    border-right: 1px solid #ddd;
}

#playlist-panel li
{
    -webkit-user-select: none;
    
    border-left-width: 0px;
    border-right-width: 0px;
    
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
    
    padding-top: 6px;
    padding-bottom: 6px;
}

#playlist-panel li:first-child
{
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#playlist-panel li:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#playlist-panel li div
{
    position: relative;
    
    height: 34px;
}

#playlist-panel li label
{
    -webkit-user-select: auto;

    position: absolute;
    top: 1px;
    left: 1px;

    padding: 6px 12px;
    width: 100%;
    
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#playlist-panel li input
{
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 100%;
}

#playlist-panel li:hover
{
    background-color: #f5f5f5;
}

#playlist-panel li.active
{
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;

    padding-top: 15px;
    padding-bottom: 15px;
}

#playlist-panel li.active:hover
{
    background-color: #296292;
}

#playlist-panel li.selected
{
    //background-color: #f5f5f5;
}

#playlist-panel li.active.selected
{
    //background-color: #296292;
}

