#playlist-panel
{
    float: left;
    
    width: 240px;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    border-right: 1px solid #ddd;
}

#playlist-panel ul
{
    list-style-type: none;
    
    padding: 0px 0px;
    margin-bottom: -1px;
    
    overflow: hidden;
}

#playlist-panel li
{
    -webkit-user-select: none;
    
    padding: 4px 10px;

    border-bottom: 1px solid #ddd;
    
    transition: padding 0.5s ease;
}

#playlist-panel li div
{
    position: relative;
    
    height: 34px;
}

#playlist-panel li label
{
    -webkit-user-select: auto;
    
    position: absolute;
    
    top: 1px;
    left: 1px;
    width: 100%;

    padding: 6px 12px;
    
    color: black;
    font-weight: normal;
    
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

#playlist-panel li input
{
    position: absolute;
    
    top: 0px;
    left: 0px;
    width: 100%;
}

#playlist-panel li:hover
{
    background-color: #f5f5f5;
}

#playlist-panel li.active
{
    padding-top: 15px;
    padding-bottom: 15px;
    
    background-color: #337ab7;
    
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
}

#playlist-panel li.active label
{
    color: white;
    font-weight: bold;
}

#playlist-panel li.active:hover
{
    background-color: #296292;
}
