#tracklist-panel
{
    padding: 0px 0px;
    height: 100%;

    overflow-y: auto;
}

#tracklist-panel li
{
    -webkit-user-select: none;
    
    border-left-width: 0px;
    border-right-width: 0px;
    
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#tracklist-panel li:first-child
{
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#tracklist-panel li:last-child
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#tracklist-panel li div
{
    -webkit-user-select: auto;
    
    display: inline-block;
    width: auto;
}

#tracklist-panel:focus
{
    outline: none;
}

#tracklist-panel:focus *
{
    outline: none;
}

#tracklist-panel:focus .cursor
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    z-index: 3;
}

#tracklist-panel li.active
{
    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;

    padding-top: 10px;
    padding-bottom: 10px;
}

#tracklist-panel li:hover
{
    background-color: #f5f5f5;
}

#tracklist-panel li.active:hover
{
    background-color: #296292;
}

#tracklist-panel li.selected
{
    background-color: #f5f5f5;
}

#tracklist-panel li.active.selected
{
    background-color: #296292;
}
